@model IEnumerable<Odev.Web.ViewModels.ExamViewModel>
@{
    ViewBag.Title = "Answer";
}

<h2>Answer</h2>

<div class="content">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kullanıcı</th>
                <th>Soru</th>
                <th>Tarih</th>
                <th>Cevap</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RandomUserName</td>
                    <td>@item.Question </td>
                    <td>@item.InsertDate</td>
                    <td>@item.Answer</td>                   
                </tr>
            }
        </tbody>
    </table>
</div>


